<h1>This is the About Page</h1>

<!-- 
OLD LINK WHEN USING PAGES AS PART OF THE HOME ROOT
 link_to 'Home Page', pages_home_path %>
-->

<!-- CHANGED TO ROOT PATH - THIS CAN BE CHECK WITH rake routes in the console  -->
<%= link_to 'Home Page', root_path %>